{% capture search %}
<form action="{{ routes.search_url }}" method="get" class="header-search-form">
  <input type="text" class="header-search" name="q" id="header-search" placeholder="{{ 'general.search.placeholder' | t }}" />
  <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
 
</form>
{% endcapture %}

<div class="header-section js-header-section" data-section-id="{{ section.id }}" data-section-type="header-section">
    <header data-sticky-class="header--sticky" class="theme-header{% if section.settings.header_layout == 'inline' %} stickynav{% endif %}{% if section.settings.full_width_header %} gridlock-fluid{% endif %}">
      {% if section.settings.full_width_header %}<div class="row">{% endif %}

      <div id="identity" class="row">

        <!-- Mobile menu trigger -->
        <div class="mobile-menu__trigger mobile-only span-1">
          <div class="slideout__trigger--open text-left">
            <button class="slideout__trigger-mobile-menu js-slideout-open text-left" data-wau-slideout-target="mobile-navigation" data-slideout-direction="left" aria-label="Open navigation" tabindex="0" type="button" name="button">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
 
        {% if section.settings.search_layout == 'visible' and section.settings.header_layout == 'center' %}
        <div class="large-search desktop-4">
          {{ search }}
        </div>
        {% endif %}

        <div id="logo" class="{% if section.settings.header_layout == 'center' %}desktop-4 {% if section.settings.search_layout != 'visible' %}desktop-push-4 {% endif %}{% elsif section.settings.header_layout == 'left' %}desktop-4 {% endif %}">
          {% if section.settings.logo != blank %}
          {%- assign image_size = '600x' -%}
          <a href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
          </a>
          {% else %}
          <a href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}
        </div>

        {% if section.settings.search_layout == 'visible' and section.settings.header_layout == 'left' %}
        <div class="large-search desktop-4">
          {{ search }}
        </div>
        {% endif %}

        {% if section.settings.header_layout == 'inline' %}
					<nav class="navigation inline-header js-nav" data-sticky-class="navigation--sticky">
						<div id="navigation" class="navigation__maincontainer" >
							<ul id="nav">
								{% render 'navigation' %}
							</ul>
						</div>
					</nav>
        {% endif %}

        <div id="cart-container" class="{% unless section.settings.header_layout == 'inline' %}desktop-4{% endunless %}{% if section.settings.search_layout != 'visible' and section.settings.header_layout == 'left' %} desktop-push-4{% endif %}">
          <ul id="cart">
            <li class="search-icon"{% if section.settings.search_layout != 'modal' %} style="display: none"{% endif %}>
              <button class="slideout__trigger-search button-as-link js-modal-open"
                      data-wau-modal-target="search-modal"
                      aria-label="{{ 'general.search.placeholder' | t }}"
                      aria-haspopup="true"
                      aria-expanded="false"
                      tabindex="0" type="button" name="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
              {% if section.settings.search_layout == 'modal' %}
                <div class="search-modal-content" data-wau-modal-content="search-modal" style="display: none;">
                  {{ search }}
                </div>
              {% endif %}
            </li>
            {% if shop.customer_accounts_enabled %}
            <li class="customer-accounts">
              {% if customer  %}
              <a href="{{ routes.account_url }}"><span class="customer-words">{{ 'layout.customer.my_account' | t }}</span> <i class="fa fa-user"></i></a>
              <a href="{{ routes.account_logout_url }}">{{ 'layout.customer.log_out' | t }}</a>
              {% else %}
              <a href="{{ routes.account_login_url }}"><span class="customer-words">{{ 'layout.customer.my_account' | t }}</span>  <i class="fa fa-user"></i></a>
              {% endif %}
            </li>
            {% endif %}
 <li class="my-cart-link-container search-icon wishicon">
            <div class="slideout__trigger--open">
            {% include 'iwish_v2' with 'iwishlink' %}
            </div>
              </li>

            <li class="my-cart-link-container">
              {% if settings.cart_type == 'page_only' %}
              <a href="{{ routes.cart_url }}">
                <span class="my-cart-text">{{ 'layout.cart.my_cart' | t }}</span><span class="cart-icon"></span><span class="js-cart-count">{{ cart.item_count }}</span>
              </a>
            {% else %}
              {%- if settings.cart_type == 'drawer' -%}
                {% assign cart_classes = 'js-slideout-open' %}
                {% assign cart_settings = 'data-wau-slideout-target="ajax-cart" data-slideout-direction="right"' %}
              {% elsif settings.cart_type == 'modal_cart' %}
                {% assign cart_classes = 'js-modal-open' %}
                {% assign cart_settings = 'data-wau-modal-target="ajax-cart"' %}
              {%- endif -%}
              <div class="slideout__trigger--open">
                <button class="slideout__trigger-mobile-menu js-mini-cart-trigger {{ cart_classes }}" {{ cart_settings }} aria-label="Open cart" tabindex="0" type="button" name="button">
                  <span class="my-cart-text">{{ 'layout.cart.my_cart' | t }}</span><span class="cart-icon"></span><span class="js-cart-count">{{ cart.item_count }}</span>
                </button>
              </div>
            {% endif %}
            </li>
           
            {% if section.settings.search_layout == 'visible' and section.settings.header_layout == 'inline' %}
              <li class="searchbox">
                {{ search }}
              </li>
            {% endif %}
          </ul>
        </div>

      </div>

      {% if section.settings.full_width_header %}</div>{% endif %}
    </header>

    {% if section.settings.header_layout != 'inline' %}
			<nav id="nav" data-sticky-class="navigation--sticky" class="js-nav navigation full-nav{% if section.settings.full_width_header %} gridlock-fluid{% endif %} stickynav">
				{% if section.settings.full_width_header %}<div class="row">{% endif %}
				<div class="navigation__maincontainer row">
					<ul id="nav" class="desktop-12 mobile-3">
						{% render 'navigation' %}
					</ul>
				</div>
				{% if section.settings.full_width_header %}</div>{% endif %}
			</nav>
    {% endif %}

    <div class="clear js-clear-element"></div>

<style>
  {% if section.settings.logo != blank %}
  #logo img { max-width: {{ section.settings.logo_max_width }}px; }
  @media screen and (max-width: 740px) {
    #logo img { max-width: {{ section.settings.logo_max_width_mobile }}px; }
  }
  #logo { line-height: 0;}
  {% endif %}

  {% if section.settings.header_layout == 'center' %}
  #logo {
    text-align: center;
  }
  {% endif %}

  header #header-search {
    font-size: {{ section.settings.cart_links_size }}px;
  }

  ul#cart li a,
  .header-section,
  .js-mini-cart-trigger {
    font-size: {{ section.settings.cart_links_size }}px;
    font-weight: {{ section.settings.cart_weight }};
    border: 0;
    text-decoration: none;
  }

  nav {
    {% if section.settings.header_layout == 'center' %}text-align: center;{% endif %}
     line-height: {{ section.settings.nav_height }}px;
  }

  {% if section.settings.header_layout == 'center' %}
  @media screen and ( min-width: 740px ) and ( max-width: 980px ) {
    ul#social-links {
      text-align: left;
      float: left;
    }
  }
  {% endif %}

  {% unless section.settings.header_layout == 'inline' %}
  #identity {
    display: flex;
    align-items: center;
  }
  {% endunless %}

  {% if section.settings.header_layout == 'inline' %}
  header.theme-header.stickynav #identity {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      padding-left: 10px;
      padding-right: 10px;
  }
  header.theme-header.stickynav #identity > div, #identity nav {
      float: none! important;
      width: unset !important;
      margin: 0;
      align-self: center;
  }
  header.theme-header.stickynav #identity #logo {
      justify-self: start;
  }
  header.theme-header.stickynav #identity nav.inline-header {
      justify-self: stretch;
  }
  header.theme-header.stickynav #identity #cart-container {
      justify-self: end;
  }

	@media only screen and (max-width: 980px) {
		header.theme-header.stickynav #identity nav.inline-header {
			display: none;
		}

		header.theme-header.stickynav #identity #logo,
		header.theme-header.stickynav #identity #cart-container,
		header.theme-header.stickynav #identity > div{
		  justify-self: center;
		}
	}
  {% endif %}
  {% if section.settings.icons_only %}
  span.customer-words,
  span.my-cart-text { display: none; }
  {% endif %}
</style>

</div>
{% schema %}
{
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width_header",
        "label": "Enable full width"
      },
      {
        "type": "select",
        "id": "header_layout",
        "label": "Header layout",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "inline",
            "label": "Inline"
          }
        ]
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 80,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Logo max width",
        "default": 200
      },
      {
        "type": "range",
        "id": "logo_max_width_mobile",
        "min": 80,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Mobile logo max width",
        "default": 200
      },
      {
        "type": "header",
        "content": "Cart links"
      },
      {
        "type": "range",
        "id": "cart_links_size",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Cart and account links size",
        "default": 13
      },
      {
        "type": "select",
        "id": "cart_weight",
        "label": "Cart links weight",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "bold",
            "label": "Bold"
          }
        ]
      },
      {
       "type": "checkbox",
       "id": "icons_only",
       "label": "Show icons only",
       "default": false
      },
      {
        "type": "select",
        "id": "search_layout",
        "label": "Search",
        "default":"modal",
        "options": [
          {
            "value": "visible",
            "label": "Always visible"
          },
          {
            "value": "modal",
            "label": "Modal"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
     {
  		"type":"header",
		  "content": "navigation"
		},
      {
        "type": "link_list",
        "id": "main_nav",
        "label": "Menu",
        "default":"main-menu"
      },
      {
        "type": "range",
        "id": "nav_height",
        "min": 30,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Height",
        "default": 40
      },
      {
        "type": "range",
        "id": "linklist_breakpoint",
        "min": 4,
        "max": 20,
        "step": 1,
        "label": "Links per column",
	      "info": "Break long drop downs into multiple columns",
        "default": 10
      }
    ],
    "blocks": [
      {
        "type": "mega_menu",
        "name": "Mega menu",
        "settings": [
          {
            "type":"text",
            "id":"menu_item",
            "label":"Menu item",
            "info":"Enter menu item to apply a mega menu"
          },
          {
           "type": "image_picker",
           "id": "nav_image",
           "label": "Featured image"
         },
         {
           "type": "url",
           "id": "nav_promo_link",
           "label": "Featured image link"
         }
        ]
      }
    ]
}
{% endschema %}
